# Dictionaries

Recognized by curly brackets { }

They are mutable and can be nested like list and tuples

They have a key and value pair , so they are also called associative pair

A given key can oly appear once in a dictionary and both key and value can be any data type - str,int,float,tuple,list

Each and value is seperated by a colon( : )

Dictionary are unordered so indexing does not work on it. Instead keys are treated as index. whereas list and tuples are ordered

when we convert a dictionary to list or a tuple by list() then only keys come in list and tuple not the values

concatenation cannot be done on dictionary

In [ ]:
dict1 = {'key':'value',
        'key2':'value2',
        'key3':'value3'}

type(dict1)

dict

In [ ]:
list(dict1)

['key', 'key2', 'key3']

In [ ]:
d = {'name':'sam', 
     'age' : 23 , 
     'hair' : 'black' , 
     'id' : 1.0}

d.get('id')

1.0

In [ ]:
d['name']

'sam'

In [ ]:
d['hair']

'black'

In [2]:
d3={}

print(type(d3))

<class 'dict'>

In [1]:
d2={'name' :['sam','bam','ham'], 
     'age' : [23,30,30] ,   
     'hair' : ['black','brown','red'] ,
     'id' :[1,2,3]}
print(d2)

# dict() , {}

{'name': ['sam', 'bam', 'ham'], 'age': [23, 30, 30], 'hair': ['black', 'brown', 'red'], 'id': [1, 2, 3]}

In [20]:
d2['name'].remove('bam')
d2

{'age': [23, 30, 30],
 'hair': ['black', 'brown', 'red'],
 'id': [1, 2, 3],
 'month': {'a': 55, 'b': 56, 'c': 57},
 'name': ['sam', 'ham'],
 'new entry': ['May', 'June', 'July']}

In [4]:
d2.get('age') # acces values give a key names

[23, 30, 30]

In [5]:
d2['age'] # acces values give a key names

[23, 30, 30]

In [12]:
d2.update({'new entry':[2021,2022, 2023], 'month':['May','June','July']})
d2.update({'new entry':['May','June','July']})
print(d2['month'])

['May', 'June', 'July']

In [15]:
d2['month']={'a':55,'b':56,'c':57}
print(d2)

{'name': ['sam', 'bam', 'ham'], 'age': [23, 30, 30], 'hair': ['black', 'brown', 'red'], 'id': [1, 2, 3], 'new entry': ['May', 'June', 'July'], 'month': {'a': 55, 'b': 56, 'c': 57}}

In [16]:
d2['this is new'] = ['python','DS','ML']
print(d2)

{'name': ['sam', 'bam', 'ham'], 'age': [23, 30, 30], 'hair': ['black', 'brown', 'red'], 'id': [1, 2, 3], 'new entry': ['May', 'June', 'July'], 'month': {'a': 55, 'b': 56, 'c': 57}, 'this is new': ['python', 'DS', 'ML']}

In [18]:
d2.pop('this is new') # give key name

['python', 'DS', 'ML']

In [27]:
# .items()  ---> key name, values

# .keys()   --> keys names

# .values()  --> values w.r.t keys from the dictionary

for key,value in d2.items():
  print(key, value)

name ['sam', 'ham']
age [23, 30, 30]
hair ['black', 'brown', 'red']
id [1, 2, 3]
new entry ['May', 'June', 'July']
month {'a': 55, 'b': 56, 'c': 57}

In [26]:
for key in d2.values():
  print(key)

['sam', 'ham']
[23, 30, 30]
['black', 'brown', 'red']
[1, 2, 3]
['May', 'June', 'July']
{'a': 55, 'b': 56, 'c': 57}

In [ ]:
# changing the value of a key
d = {'name' :['sam','bam','ham'], 
     'age' : [23,30,[50,15,17],25,30] , 
     'hair' : 'black' ,
     'id' : 1.0}

# d[1] = 'rohit'  
# print(d[1])
d['age'][2][0]

50

In [ ]:
# adding a new and value
d['place'] = 'Delhi'
d['place'] = 'Haryana'
d[2]= 'two'
d

{1: 'rohit',
 'age': 23,
 'hair': 'black',
 'id': 1.0,
 'place': 'Haryana',
 2: 'two'}

In [ ]:
# for key,value in d.items():   # returns a view object that displays list of dictionary (key,value) in tuple pairs 
#     print(key,':',value)
    
    
# for key in d.keys():
#     print(key)


# for value in d.values():
#     print(value)



d = { 1 :['sam','bam','ham'], 
     'age' : [23,30,[50,15,17],25,30] , 
     'hair' : 'black' ,
     'id' : 1.0}
{key:value for key,value in d.items()}

{1: ['sam', 'bam', 'ham'],
 'age': [23, 30, [50, 15, 17], 25, 30],
 'hair': 'black',
 'id': 1.0}

In [ ]:
d = { 1 : ['sam','bam','ham'], 
     'age' : [23,30,[50,15,17],25,30] , 
     'hair' : 'black' ,
     'id' : 1.0}


d

{1: ['sam', 'bam', 'ham'],
 'age': [23, 30, [50, 15, 17], 25, 30],
 'hair': 'black',
 'id': 1.0}

In [ ]:
d.keys()  #  returns view object  displaying a list of all keys
d.values()

dict_values(['sam', 23, 'black', 1.0, 'rohit', 'Delhi', 'two'])

241534654

True

0

['0']

In [ ]:
d.pop('hair')  
print(d)

{'age': 23, 'id': 1.0, 2: 'two'}

In [ ]:
# d.update(iterable)  - inserts the specified items to dictionary.

d = {'name':'sam', 
     'age':  23, 
     'hair':'black', 
     1:'id'}

d1 = {'country':'India',
      'seasons':6}

d.update({'country':'India', 
          'seasons':6,
          'month':4, 
          'age':12})

d

{'name': 'sam',
 'age': 12,
 'hair': 'black',
 1: 'id',
 'country': 'India',
 'seasons': 6,
 'month': 4}

## .popitem() removes last inserted key - value

In [ ]:
d.popitem()
d

{'name': 'sam',
 'age': 12,
 'hair': 'black',
 1: 'id',
 'country': 'India',
 'seasons': 6}

In [ ]:
d.popitem()
d

{'name': 'sam', 'age': 12, 'hair': 'black', 1: 'id'}

In [ ]:
ls_1 =[1,1,1,2,2,2,3,3,3,4,4,5,5,5,5]

ls_2=[]

for i in ls_1:
    s =0
    for j in ls_1:
        if i ==j:
            s +=1
    ls_2.append((i,s))

print(set(ls_2))

{(5, 4), (1, 3), (3, 3), (2, 3), (4, 2)}

In [ ]:
d.popitem()
d

{'name': 'sam', 'age': 12, 'hair': 'black', 1: 'id'}

In [ ]:
d = {'name':'sam','age':23, 'hair':'black', 1:'id'}

for x,y in d.items():
    if x == 'age':
        d[x] = 55
        d['name'] = 'abc'
d

{'name': 'abc', 'age': 55, 'hair': 'black', 1: 'id'}

In [ ]:
d={'name':'sam','age':23,'hair':'black','id':1}

if d['age']==23:
    d['age'] = 55
    d['name2']='value2'

d

{'name': 'sam', 'age': 55, 'hair': 'black', 'id': 1, 'name2': 'value2'}

In [ ]:
for i in d.keys():
    print(i)

name
age
hair
1

In [ ]:
for i in d.values():
    print(i)

abc
55
black
id

In [ ]:
d = {'name':'sam',  'age' :  23 , 'hair' : 'black' , 1 : 'id'}

del d['name'],d[1],d['age'] # deleting a specific Key 
print(d)

{'hair': 'black'}

In [ ]:
d = {'name':'sam'   ,  'age' :  23 , 'hair' : 'black' , 1 : 'id'}

d.clear() # Clearing the dictionary - get empty dict
# d
# print(d)

del d
d

{}

# Tuple
**The difference between tuples and list are that tuples are immutable (means they cannot be changed) where as list are mutable (means they can be changed)**

In [69]:
tu = (1,2,3,1,1,1,1.0)

tu[0]  # value at index 0
tu[-5:-1]  # print value from -1 & go till -5    -> -5 to -2
tu[3:-1]
tu[::-1]

tuple(sorted(tu)) #  sorted gave ans. in list form -- tuple()  -> converted back to tuple
print(tu)

(1, 2, 3, 1, 1, 1, 1.0)

In [62]:
tu

(1, 2, 3, 1, 1, 1, 1.0)

In [46]:
l2 = list(tu)  # conversion to list

set(tu)   # conversion to set

tuple(l2)  # conversion to tuple

[1, 2, 3, 1, 1, 1, 'abc', 1.0]

In [67]:
sorted(['a','z','v','b'])

['a', 'b', 'v', 'z']

In [52]:
tuple_1 = (1,2,{'name': ['John Doe']})


tuple_1[2]['name']='hello'
# tuple_1[2]['name'].appned('new value)
# print(tuple_1)

['John Doe']

In [ ]:
type(tu)

tuple

In [ ]:
tu[2:-1]

(3, 1, 1, 1, 'abc')

In [ ]:
tu[-1] # element at index will be printed

1.0

In [ ]:
tu[0] = 'a' # Will throw error
# this code can be applied on list because list are mutable

TypeError: 'tuple' object does not support item assignment

In [ ]:
print(list(tu), type(tu))

[1, 2, 3, 1, 1, 1, 'abc', 1.0] <class 'tuple'>

In [ ]:
t=(1,2,3,4,'abc',1.2)
print(type(list(t)))
print(type(t))

<class 'list'>
<class 'tuple'>

In [ ]:
type(t)

tuple

In [ ]:
tu

[1, 2, 3, 1, 1, 1, 'abc', 1.0]

In [ ]:
tu.count(1) # the count(frequncy) of value

5

In [ ]:
tu = (1,2,3,1,1,1,'abc',1.0)

tu.index(1) # Feed the value for which you want to know the index

0

# Nested Tuple

In [ ]:
tt = ( (1,2),[45,25,43],89,'ko'  )

tt[1][2]

print(type(tt))

<class 'tuple'>

In [ ]:
li = [1,2,3,4,5]

tuple(li)

(1, 2, 3, 4, 5)

# Indexing

In [ ]:
nested_tuple = ((1,2),[45,25,43],89,'ko')
print(nested_tuple[0])
print(nested_tuple[0][1])

(1, 2)
2

# Max and MIn - Gives maximum and minimum value of the iterable

#Syntax - max( iterable ) , min( iterable )

In [ ]:
98,56,3,4,2,6,7

(98, 56, 3, 4, 2, 6, 7)

In [ ]:
s = {2,3,5,2,2,4,2,89}

max(s) 

min(98,56,3,4,2,6,7)

abs(-78) #ABSOLUTE VALUE

round(1.8543) # ROUNDING

round(1.8557 , 0)  # round( number , ndigits )  number of digits upto which we want the given number to be rounded off.

2.0

In [ ]:
x,y=0,1


while y<50:
    print(x, y)
    x,y = y,x+y

print(x,'\t', y)

0 1
1 1
1 2
2 3
3 5
5 8
8 13
13 21
21 34
34 	 55

In [ ]:
for i in range(51):

In [ ]:
x,y =0,1
for i in range(10):
    x,y = y,x+y
    if x <50:
        print(x,end=" ")
x

1 1 2 3 5 8 13 21 34

55

In [ ]:
t=[0,1]
print('t[i-1],''\t','t[i-2]' )
if 10>2:
    for i in range(2,10):
        j=t[i-1]+t[i-2]
        print(t[i-1],'\t',t[i-2] )
        t.append(j)
        
# print(t)

t[i-1],	 t[i-2]
1 	 0
1 	 1
2 	 1
3 	 2
5 	 3
8 	 5
13 	 8
21 	 13

In [1]:
x,y=0,1
c=[]
c.append(x)
while y<50:
    x=x+y
    c.append(x)
    y=x+y
    c.append(y)
print (c)

[0, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [ ]:
(yi)

In [ ]:
a=int(input("enter starting number:"))
b=int(input("enter ending number:"))

fib_series=[a,a]

for i in range(b):
        x=fib_series[i]
        y=fib_series[i+1]
        if x+y<=50:
            fib_series.append(x+y)
        else:
            break
print(fib_series)

In [ ]:
a=1
b=1
c=0 # To store Final Fibanoci output
print('a','\t','b', '\t', 'c')
for i in range(0,9):
        c=a+b
        print(a,'\t',b, '\t', c)
        a=b
        b=c

'''
0
1
1
2
3
5
8
13

'''

a 	 b 	 c
1 	 1 	 2
1 	 2 	 3
2 	 3 	 5
3 	 5 	 8
5 	 8 	 13
8 	 13 	 21
13 	 21 	 34
21 	 34 	 55
34 	 55 	 89

In [ ]:
'''Will Resume at 13:47 '''

In [ ]:
x = 0
y = 1
while y<50:
    print(x, y)
    x=y
    y=x+y    
print(x,'\t', y)

0 1
1 2
2 4
4 8
8 16
16 32
32 	 64

In [ ]:
x = 10
y = 30

x,y = y,x+y 

print(x, y)

30 40

# sum(iterable, start=0(optional))

## sum(iterable, start=0(optional))

In [ ]:
l = {1,2,3,4,8}
sum(l, 10) # 10 addded to the sum of set l

28