## For Loop

In [ ]:
a = ['ass','fgg','hhh','abss','abss','abss']
for i in a:
    print(i)

ass
fgg
hhh
ass
ass
ass

In [ ]:
a = [10,20,30]
b = [50,60,70]
c = [] # Empty List

for i in b:
    c.append(i)
    print(c)
    
print('Final C: ',c)

[50]
[50, 60]
[50, 60, 70]
Final C:  [50, 60, 70]

In [ ]:
for i in b:
    print(i)

50
60
70

In [ ]:
abc = ['One','Two','Three']
[[(i[0],k[0]), (i[1],k[1])] for i in fruits for k in abc]

[[('a', 'O'), ('p', 'n')],
 [('a', 'T'), ('p', 'w')],
 [('a', 'T'), ('p', 'h')],
 [('b', 'O'), ('a', 'n')],
 [('b', 'T'), ('a', 'w')],
 [('b', 'T'), ('a', 'h')],
 [('c', 'O'), ('h', 'n')],
 [('c', 'T'), ('h', 'w')],
 [('c', 'T'), ('h', 'h')]]

In [ ]:
fruits = ["apple", "banana", "cherry"]
abc = ['One','Two','Three']

[(i[0],' and ' ,k[0]) for i in fruits for k in abc] # Double for loop - accessing fuits and abc list

[i[0] for i in fruits] # Single for loop -- Only accessing fruits list

[('a', ' and ', 'O'),
 ('a', ' and ', 'T'),
 ('a', ' and ', 'T'),
 ('b', ' and ', 'O'),
 ('b', ' and ', 'T'),
 ('b', ' and ', 'T'),
 ('c', ' and ', 'O'),
 ('c', ' and ', 'T'),
 ('c', ' and ', 'T')]

In [ ]:
m = 'apple'
m[0]

'a'

In [ ]:
# List comhrehensions/ One liners

[int(value/5) for value in [10,20,30]]

[2, 4, 6]

In [ ]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for i in fruits:
    for k in adj:
        print(i ,'\t', k)

apple 	 red
apple 	 big
apple 	 tasty
banana 	 red
banana 	 big
banana 	 tasty
cherry 	 red
cherry 	 big
cherry 	 tasty

In [3]:
x = [1,2,3,4]
h = []
for value in x:
    h.append(value*3)  

print('New List h :  ', h)

New List h :   [3, 6, 9, 12]

In [5]:
# One Liners  aka List Cophrehension  
# variable asignmnet can not be odne in list comprehension
# what is to be printed will come int begining

lo = [1,2,3,4]

lo2 = tuple(value_1*3 for value_1 in lo)

lo3 = set(value_1*3 for value_1 in lo)

lo4 = [value_1*3 for value_1 in lo]

print(lo2, lo3, lo4)

(3, 6, 9, 12) {9, 3, 12, 6} [3, 6, 9, 12]

### Range

* **Syntax**  - range( start = 0(optional) , stop , step = 1 (optional) )

* It works only with Integers means it does not support Float.
* (To use Float numbers we can numpy arange method or we can create a function.)

In [12]:
{ind:value for ind, value in enumerate(range(100, 120,2))} # [what is to be printed/executed  ---> loop from where value is generated]

{0: 100,
 1: 102,
 2: 104,
 3: 106,
 4: 108,
 5: 110,
 6: 112,
 7: 114,
 8: 116,
 9: 118}

In [21]:
for i in range(100, 120,2):
  if i==102:
    print(i,'equal to 102')
  elif i>105 :
    print(i,'A')
  elif i==107:
    print(i,'equal to 107')
  elif i==108:
    print(i,'equal to 108')
  else:
    print(i,'B')

# = is for assignment   --> a=10
# == is for comparison  --> 10==10
# >=
# <=
# !=   -> Not equal to

100 B
102 equal to 102
104 B
106 A
108 A
110 A
112 A
114 A
116 A
118 A

In [25]:
[i for i in range(102,109) if i>105]

[106, 107, 108]

In [26]:
[(i,'A') if i<= 105 else (i,'B') if i==106 else 'D' if i==107 else 'E' for i in range(102, 109)]

[(102, 'A'), (103, 'A'), (104, 'A'), (105, 'A'), (106, 'B'), 'D', 'E']

In [28]:
for i in range(100,120,2):
    if i==110:
        print('a')
    else:
        print('b')

    print('this is irrespective of IF BLOCK')
    print('2nd one')

b
this is irrespective of IF BLOCK
2nd one
b
this is irrespective of IF BLOCK
2nd one
b
this is irrespective of IF BLOCK
2nd one
b
this is irrespective of IF BLOCK
2nd one
b
this is irrespective of IF BLOCK
2nd one
a
this is irrespective of IF BLOCK
2nd one
b
this is irrespective of IF BLOCK
2nd one
b
this is irrespective of IF BLOCK
2nd one
b
this is irrespective of IF BLOCK
2nd one
b
this is irrespective of IF BLOCK
2nd one

In [27]:
for i in range(100,120,2):
    if i==110:
        print('a')
    print('this is irrespective of IF BLOCK')
    print('b')

this is irrespective of IF BLOCK
b
this is irrespective of IF BLOCK
b
this is irrespective of IF BLOCK
b
this is irrespective of IF BLOCK
b
this is irrespective of IF BLOCK
b
a
this is irrespective of IF BLOCK
b
this is irrespective of IF BLOCK
b
this is irrespective of IF BLOCK
b
this is irrespective of IF BLOCK
b
this is irrespective of IF BLOCK
b

In [16]:
list(range(11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
print(list(range(10,20)))

print('\n',list(range(10,20,3)))

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

 [10, 13, 16, 19]

In [ ]:
j = []
for i in range(0,11,2):
    j.append(i*2)
j

[0, 1, 0, 1]

In [ ]:
for x in range(2, 6):
    print(x)

2
3
4
5

In [ ]:
# Finding names in list
colors = ["red", "green", "blue", "purple",'sky']

In [ ]:
def fn(*a, k = 3):
        h = max(a[:k])-min(a[:k])
        print(max(a[:k]),min(a[:k]), h)
        
        h1 = max(a[k:k+k])-min(a[k:k+k])
        print(max(a[k:k+k]),min(a[k:k+k]),h1)
        
        
        print(h+h1)
        
      
fn(12, 14, 17, 10, 14, 13, 12, 15)

17 12 5
14 10 4
9

In [ ]:
# for i in range(5):
#     print(i)
    
colors[0]

'red'

In [ ]:
a = ['hello','python',9999999]
['m3' if len(str(i))>3 else 'l3' for i in a]

['m3', 'm3', 'm3']

In [ ]:
# Finding names in list
colors = ["red", "green", "blue", "purple",'sky']

for i in range(len(colors)): # Range(len(colors)) is  range(5) because 5 is the length of list,
                              # So values from (0,5) are generated using Range function
    print('Value at Index : ', i,'==', colors[i]) # Colors[i] will give value from colors list 
                                                  # at a given index

Value at Index :  0 == red
Value at Index :  1 == green
Value at Index :  2 == blue
Value at Index :  3 == purple
Value at Index :  4 == sky

In [ ]:
colors = ["red", "green" , "black" , " blue"]

In [ ]:
colors.index(' blue')

3

In [ ]:
# for color in colors:
#     print(color)
    
    
for index,color in enumerate(colors,2000):
    print('index is: ',index, '\t','color is:  ',color)

index is:  2000 	 color is:   red
index is:  2001 	 color is:   green
index is:  2002 	 color is:   black
index is:  2003 	 color is:    blue

In [ ]:
colors = ["red", "green" , "black" , " blue"]

for color in colors: 
    ind = colors.index(color) # Getting the Index value of color 
#     print(ind)
    print('Value at Index : ', ind,'==', color)

Value at Index :  0 == red
Value at Index :  1 == green
Value at Index :  2 == black
Value at Index :  3 ==  blue

In [ ]:
colors.index('black')

2

In [ ]:
[['value at index:',colors.index(color),'==',color] for color in colors]

[['value at index:', 0, '==', 'red'],
 ['value at index:', 1, '==', 'green'],
 ['value at index:', 2, '==', 'black'],
 ['value at index:', 3, '==', ' blue']]

In [ ]:
[['value at index:',value,'==',colors[value]] for value in range(0,len(colors))]
# colors[0]

[['value at index:', 0, '==', 'red'],
 ['value at index:', 1, '==', 'green'],
 ['value at index:', 2, '==', 'black'],
 ['value at index:', 3, '==', ' blue']]

# List Comprehension

In [ ]:
[i for i in range(10,50,10)]

[10, 20, 30, 40]

In [ ]:
[i for i in range(-5, -15, -2)]

[-5, -7, -9, -11, -13]

In [ ]:
[i for i in range(15, 5, -2)]

[15, 13, 11, 9, 7]

In [ ]:
[i for i in range(20)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

# Enumerate
(Itertable, Start (optional))

In [ ]:
l = [100,200,320,22022, 222,333,444,555]

for index,value in enumerate(range(20,30)):
    print('index is: ',index,'\t','value is: ',value)

index is:  0 	 value is:  20
index is:  1 	 value is:  21
index is:  2 	 value is:  22
index is:  3 	 value is:  23
index is:  4 	 value is:  24
index is:  5 	 value is:  25
index is:  6 	 value is:  26
index is:  7 	 value is:  27
index is:  8 	 value is:  28
index is:  9 	 value is:  29

In [ ]:
a = ['ass','fgg','hhh','ass','ass','ass',10, 1000.56,'1234']

for i,j in enumerate(a,999):
    print('index is: ',i ,'\t', 'value is: ', j)

index is:  999 	 value is:  ass
index is:  1000 	 value is:  fgg
index is:  1001 	 value is:  hhh
index is:  1002 	 value is:  ass
index is:  1003 	 value is:  ass
index is:  1004 	 value is:  ass
index is:  1005 	 value is:  10
index is:  1006 	 value is:  1000.56
index is:  1007 	 value is:  1234

In [ ]:
t = [2,3,5]

[(i,j) for i,j in enumerate(t,900)]

[(2, 900), (3, 901), (5, 902)]

In [ ]:
[i for i in enumerate(range(100,106),1)]

[(1, 100), (2, 101), (3, 102), (4, 103), (5, 104), (6, 105)]

In [ ]:
g = [100,200,300,400,'a',800.0000]

h = list(enumerate(g)) # By default index started with value 0

# print(list(enumerate(g ,10))) # ndex will start from 10 now


# for i,j in enumerate(g,10):
#     print(i,j)

for i in h:
    print(i[1])

100
200
300
400
a
800.0

In [ ]:
colors = ["red", "green", "blue", "purple"]
[i for i in enumerate(colors,50)]

[(50, 'red'), (51, 'green'), (52, 'blue'), (53, 'purple')]

# if else

In [ ]:
if 10 > 2:
    print('first')
    print('if condn ran')
else:
    print('last')

first
if condn ran

In [ ]:
# l = [1,2,3,4,5,6]

# ['yes' if (v ==1 or v == 2 or v == 3) else 'n3' for v in l]

In [ ]:
l = [1,2,3,3,6,-1]
b = []

for v in l:
    if v == 1:
        b.append('one')
    elif v == 2:
        b.append('two')
    elif v >= 3:
        b.append("condition true for all ")
    elif v == 3:
        b.append('greator thn 3')    
    else:
        b.append('idle')

print(b)

['one', 'two', 'condition true for all ', 'condition true for all ', 'condition true for all ', 'idle']

In [ ]:
x = 5

if x > 10:
    print("first If result : Above ten, do not have any else")

    
if x > 20:
    print("Second IF result: and also above 20!")
else:
    print("Second Else result: but not above 20.")

Second Else result: but not above 20.

In [ ]:
[(i,'even') if i%2 ==0 else (i,'odd') for i in range(0,9)]

[(0, 'even'),
 (1, 'odd'),
 (2, 'even'),
 (3, 'odd'),
 (4, 'even'),
 (5, 'odd'),
 (6, 'even'),
 (7, 'odd'),
 (8, 'even')]

In [ ]:
[(i,'even') for i in range(0,11) if i%2 == 0]

[(0, 'even'), (2, 'even'), (4, 'even'), (6, 'even'), (8, 'even'), (10, 'even')]

In [ ]:
for i in range(1,11):
    if i%2 == 0:
        print(i, 'Even Number')
    else:
        print(i, 'Odd Number')

1 Odd Number
2 Even Number
3 Odd Number
4 Even Number
5 Odd Number
6 Even Number
7 Odd Number
8 Even Number
9 Odd Number
10 Even Number

## if ,elif and else statements
* elif = else if
* we use **elif** with **if** statement they can not be used independently.
* if there is **if** and **elif** statements in the program then , if and elif statement breaks the code if they are true.

In [ ]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')

middle

In [ ]:
x,y = 6,8
if x > y:
    print('x is greater than y')
elif x > 5:
    print('x is greater than 5')
elif x > 8:
    print('x is greater than 8')
else:
    print('else ran')

x is greater than 5

In [ ]:
# running the code by replacing elif with if
x,y = 10,8
if x > y:
    print('x is greater than y')
if x > 5:
    print('x is greater than 5')
if x > 80:
    print('x is greater than 80')
else:
    print('else ran')

x is greater than y
x is greater than 5
else ran

# While Loop

In [ ]:
i = 2

while i < 5:
    print('This is a infinite loop')
    break

This is a infinite loop

In [ ]:
i = 1

while i < 6:
    print(i)
    if i == 3:
        break
    
    i += 1
    print('after break',i)

1
after break 2
2
after break 3
3

In [ ]:
i = 1
i+=i
i

2

In [ ]:
g = [3,5,8]
for i in g:
    print('In For Loop :',i)    
    while i<5:
        print('While loop: b4 increment: ',i, '\n')
        i+=1
        print('While loop: after increment: ',i,'\n')
    else :
        print('Else Block b4 increment: ', i,'\n')
        i+=1
        print('Else Block: after increment: ',i,'\n')

In For Loop : 3
While loop: b4 increment:  3

While loop: after increment:  4

While loop: b4 increment:  4

While loop: after increment:  5

Else Block b4 increment:  5

Else Block: after increment:  6

In For Loop : 5
Else Block b4 increment:  5

Else Block: after increment:  6

In For Loop : 8
Else Block b4 increment:  8

Else Block: after increment:  9

In [ ]:
i = 1
while i < 6:
    print(i)
    i += 1
else:
    print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

### Continue
Continue - The continue is preceeded by a condition . if the condition is True than continue will not run the code below and will move back starting step of the loop for processing next step.Pass- 
### Pass 
If nothing is supoosed to happen in a code block , a pass is needed for such a block to not produce error. 
### Break 
exits the loop

In [ ]:
h = []
i = 0
while i < 6:
    i += 1
    if i == 3:
        continue
        print('contiue')
    else:
        h.append(i)
    
h

[1, 2, 4, 5, 6]

In [ ]:
yo = []
age = [10,20,30,40,5,18,64,55,12,4,20]
for a in age:
    if a >=40:
        pass
        print('pass')
    else:
        yo.append(a)
        
print(yo)

pass
pass
pass
[10, 20, 30, 5, 18, 12, 4, 20]

In [ ]:
h = []
i = 0
while i < 6:
    i += 1
    if i == 3:
        pass
        print('\n In pass condition: Three')
        h.append(i)
    print('\n else condition: ',i)
    

h

 else condition:  1

 else condition:  2

 In pass condition: Three

 else condition:  3

 else condition:  4

 else condition:  5

 else condition:  6

[3]

In [ ]:
i = 0
while i < 6:
    i += 1
    if i == 3:
        continue
    else:
        print(i)

1
2
4
5
6

In [ ]:
for letter in 'python':
    if letter == 't':
        pass
        
    else:
        print(letter.upper())

P
Y
H
O
N

In [ ]:
for letter in 'python':
    if letter == 't':
        break
    else:
        print(letter.upper())

P
Y

In [ ]:
for letter in 'python':
    if letter == 't':
        pass
        print('pass')
    else:
        print(letter.upper())

P
Y
pass
H
O
N

In [ ]:
i = 0
while i < 6:
    i += 1
    if i == 3:
        pass
    else:
        print(i)

1
2
4
5
6

In [ ]:
listA = [18, 21, 19, 29, 46]
for val in listA:
    if val == 21:
        pass
    else:
        print(val)

18
19
29
46

In [ ]:
i = 0
while i < 6:
    i += 1
    if i == 3:
        break
    else:
        print(i)

1
2

# String Operations

In [ ]:
a = "kss fgg hhh kss kss kss"
a1 = a.replace('kss','bss',2) # (old word, new word, replace what number of times)
a1

'bss fgg hhh bss kss kss'

In [ ]:
a2 = ' this class is for python going on in dec 2020 python classs going'
a3 = a2.replace('python','here')
print(a3)

 this class is for here going on in dec 2020 here classs going

In [ ]:
a = ['ass','fgg','hhh','ass','ass','ass']

for ind,i in enumerate(a):
    if ind == len(a)-1 and i == 'ass':        
            a[ind] = 'bss'
    
a

['ass', 'fgg', 'hhh', 'ass', 'ass', 'sss']

In [ ]:
a2_1 = a2.split(' ') # seperator
# this, is, for, in

In [ ]:
a2_2 = ' '.join(a2_1)
a2_2

' this class is for python going on in dec 2020 python classs going'

In [ ]:
a2_1[2:]

['class',
 'is',
 'for',
 'python',
 'going',
 'on',
 'in',
 'dec',
 '2020',
 'python',
 'classs',
 'going']

In [ ]:
h1 = [i for i in a2.split(' ') if i not in ['this','is','in','on','for','']][2:]
h1

['going', 'dec', '2020', 'python', 'classs', 'going']

In [ ]:
' '.join(h1)

'going dec 2020 python classs going'

In [ ]:
l = []
for i in a2_1:
    if i not in ['this','is','in','on','for', ''] :
        l.append(i)

l2 = ' '.join(l)
l2

'class python going dec 2020 python classs going'

In [ ]:
l1 = ['ass','fgg','hhh','ass','ass','ass']
l1.remove('ass')
l1

['fgg', 'hhh', 'ass', 'ass', 'ass']

In [ ]:
s = 'hello there'
s.split(' ')[0]

'hello'

In [ ]:
a = ['ass','fgg','hhh','ass','ass','ass']
[i.replace('ass','b') if i =='ass' else i for i in a]

['b', 'fgg', 'hhh', 'b', 'b', 'b']

In [ ]:
['b' if i == 'ass' else i for i in a]

In [ ]:
for i in a:
    if i == 'ass':
        print(i.replace('ass','b'))
    else:
        print(i)

In [ ]:
h = "abc@gm.com abc@gm.com abc@gm.com abc@gm.com abc@gm.com"

h1 = ['Abc@gm.com','aBc@gm.com','abC@gm.com','ABc@gm.com','AbC@gm.com']

for i in h1:
    c = i.split('@')
    print(c[0].lower())
#     print('\n split op ',c)
    print(''.join(c).lower())

abc
abcgm.com
abc
abcgm.com
abc
abcgm.com
abc
abcgm.com
abc
abcgm.com

### upper,  lower, capitalize, swapcase

In [ ]:
s = 'sdfuih aojoejioac DHBEUICHHIUCV'

print('\n Upper:      ',s.upper())

print('\n Lower:      ',s.lower())

print('\n Capitalize: ',s.capitalize())

print('\n swapcase:   ',s.swapcase())

 Upper:       SDFUIH AOJOEJIOAC DHBEUICHHIUCV

 Lower:       sdfuih aojoejioac dhbeuichhiucv

 Capitalize:  Sdfuih aojoejioac dhbeuichhiucv

 swapcase:    SDFUIH AOJOEJIOAC dhbeuichhiucv

In [ ]:
x = ['ab', 'cd']
for i in x:
    print(i.upper())

AB
CD