## Advantages of Python

* **The Code looks similar to how Humans think.****


* **Python is free and open-source** - open source means that's it's source code is available to public . we can download it , change it ,use it and distribute it. This feature is called FLOSS (Free and open source software.)


* **Portable** - we does not need to change the code that's written in windows operating system to run it on mac or any other operating system.


* **It is well supoorted and has numerous online content.**


* **It is Dynamically typed**  - meand the type of value is decided at runtime , this is why de don't need to specify the data type while decalaring it.


* **It has many powerfull libraries for data manipulation and analysis , data visulatization.**


* **Python has Machine Learning.**

# Operators - 

**Arithmetic Operators**

**Assignment  Operators**

**Comparsion Operators**

**Logical  Operators**

**Identity Operators**

**Membership Operators**

# Operators
They help us in performing operations

## Arithmetic Operators

- **+**  : addition

- **-**  : subtraction

- [ * ] : multiplication

- **/**  : division

- **%**  : modulus  - gives remainder

-   **   : Exponentiation

## Data types

* Numbers

* float

* string

* boolean

* Lists

* Dictionaries

* Tuples

* Sets

### Numbers

# In Python OVERWRITNG is Allowed
# Python is Case sensitive
# code will be executed line by line
# cannot define a variable - whose name starts with a number, special caharacter( _ is excluded), 
# space are not allowed in python


# esc M
# shift enter, ctrl enter, esc L

In [4]:
a = 10  # variable assignment
a = 100
a = 200  # , ctl /
print('printing value of a', a)  # when you want to print more than 1 variable , have to put comma  - shift enter

printing value of a 200

In [9]:
# 12b = 10
_abc123 = 2000
print(_abc)

2000

# Integer : 10,-10,1351456465,0,78,-78   ---- int

# decimal : 10.5 ,10.25555552, 10.0 --------  float

# Text : "python langaage abc name" , ' python langaage abc name ' --- str

# Boolean : True , False  ------ bool


# perfom any kind of operarioon -- data types have to be same

In [12]:
a2 = 10.5
a3 = True
a4 = False
a5 = 'strings will be always enclosed in quotes - and these quotes could be single or double'
a6 = "python"
a7 = "this shouldn\\\\\\\'t work 1515212 15.58 True False"
a8 = '100.784531'
print(a2, a3, '\n', a4, '\n',a5, a6, '\n', a7, '\t', a8)

10.5 True
 False
 strings will be always enclosed in quotes - and these quotes could be single or double python
 this shouldn\\\'t work 1515212 15.58 True False 	 100.784531

In [28]:
# checking the datatype
print( type(a4), type(a2), type(a6), type(2.45) )

<class 'bool'> <class 'float'> <class 'str'> <class 'float'>

In [38]:
# type Conversion or Type Casting

b = 10.9
b = int(b)
b = str(b)  # '10'
b = int(b)
print( type(b), b+10)

<class 'int'> 20

In [42]:
d = int(10.9) # 'abc'
d = float(d)
print(d)

10.0

In [ ]:
1+1

In [ ]:
1 * 3

In [38]:
4/2  # division   o/p float

2.0

In [39]:
4//2  # floor division  - > o/p interger

2

In [35]:
2 ** 20  # Power

1048576

In [37]:
5 % 2 # Modulus - remainder

1

In [40]:
(2 + 3) * (5 + 5)   # BODMAS

50

In [ ]:
type(10)
#  int stands for integer

### Float

In [ ]:
a = 10 
print(a)

In [ ]:
word = 'hello'
word = "hello2"
word =  " can't "

word

In [ ]:
a = 10
b = 20
c = a+b
print(a)

# a = 40
# print(a)

In [ ]:
# c1 = a+10

print('Value of a: ',
      '\n',
      '\t', 
      a+10,
      '\n',
      'value of b: ',
      b) # this is print command


print(' orignal a:' ,a)


''' Multi Line Comment

Integer = 1,24,57,8
Float = 1.25 ,0.36,1.58
String = 'hello there'
st = "i can't do it"

'''

In [ ]:
type(-20.5)

In [ ]:
a = 20 
print(type(1.25 ))


print(type(a))

In [ ]:
print(a)

In [ ]:
1.25 + 8.0

### Strings

In [ ]:
'single quotes'

In [ ]:
type('single quotes')

In [ ]:
"double quotes"

In [ ]:
" wrap lot's of other quotes"
# using single quotes within "" quotes

In [ ]:
#  ' wrap lot's of other quotes'
# gives syntax error beacuse single quotes used inside of single quotes

In [ ]:
#  escape character  \
' wrap lot\'s of other quotes'

### Booleans

In [ ]:
True

In [ ]:
type(True)

In [ ]:
False

### Variable Assignment

In [ ]:
# Can not start with number or special characters
name_of_var = 2

In [ ]:
x = 2
y = 3
z = 10
z1 = 100

In [47]:
# tuple uncpacking
x,y,z,x1 = 2.34 , 3, '10', 100    # there should be equal no. on both sides also called unpacking

print('value of x: ',x)
print('value of y: ' ,y)
print('checking z:', z)
print('checking x1:', x1)

value of x:  2.34
value of y:  3
checking z: 10
checking x1: 100

In [45]:
z = x + y
print(z)

5

In [ ]:
# variable reassigned
x = 10
x

In [ ]:
z

### In-build functions
python comes with many inbuild functions.

### Printing

In [ ]:
x = 'hello'

In [ ]:
print(x)

In [ ]:
# To check current working directory
import os  # os is operating system module
os.getcwd()

In [ ]:
print('Hi python, I am coming')

### **Type**

In [ ]:
type(x)

In [ ]:
x = 8
type(x)

### Concatenation

In [49]:
print('Hi'+' '+ 'There')

Hi There

In [ ]:
print('Hi','There')

### Inter-converting string , float and int

**Converting to int**

only the values which are number can be converted to int

In [ ]:
s = '100000' # Converted to float, integers

s1 = 'hello' # Type conversion not possible for python

f = 10.90  # Converted to Str, integers

i = 20 # Converted to Str, float

cs = str(f)
print(cs, type(cs))

print(float(s))

print(int(s))

# cs+1

In [50]:
int(False)

0

In [ ]:
i = 12
float(12)

In [ ]:
v = int(s)
fc = int(f)

print(s)
print(fc)

print(v+fc)

In [ ]:
print(type(v),type(fc))

In [ ]:
s = int('a')

**Converting to float**

only the values which are number can be converted to float

In [ ]:
print(float('1.0'))
print(float(10))
print(float('34'))

**Converting to string**

any value can be converted to float

In [ ]:
print(str(1.0))
print(str(10))

In [ ]:
print(type(str(1.0)))
print(type(str(10)))

In [47]:
# Tuple Unpacking
a, b, c, d, e = 10, False, 'three', 4.7155, '500000'
print(a, b, c, d, e)

10 False three 4.7155 500000

# Operators

## Assignment Operators
**=**  : assigns a value to a variable

**+=**  : c += a   is equivalent to c = c + a

** - =**  : c -= a   is equivalent to c = c - a

**(*=)**  : c *= a   is equivalent to c = c * a

**/=**  : c /= a   is equivalent to c = c / a

**%=**  : c %= a   is equivalent to c = c % a

In [85]:
10//3 # floor Division - always give Int output

10%3 # modulus - will given remainder output

1

In [87]:
x = 1000
y = 2

x%=111  # x = x%111

print('after updating', rem)  # esc L

after updating 1

In [58]:
x = 10

x2 = x+200   # possible to create new variable

x2-=20 # no new object/variable can be created

print(x, x2)

10 190

In [ ]:
# result cannnot be stored in no new variable because they update themselves

x += 1

x *= 10

x /= 2

x %= 2

In [ ]:
x2 = x+y

x2 = x*y

x2 = x/y

x2 = x%y
x2

# Operators

## Comparison Operators - 
They compares the values and returns bool if required

**==** : are equal

**!=** : not equal

**>** : greater than

**<** : samller than

**>=** : greater than or equal to

**<=** : smaller than or equal to

In [60]:
a = 10
b = 10
print(a!=b)

False

In [63]:
print(10.99 != 10.99)

print('A' == 'a')

False
False

In [ ]:
1 > 2

In [ ]:
1 < 2

In [ ]:
1 >= 1

In [ ]:
1 <= 4

In [ ]:
a = 10
b = 100

In [ ]:
a == b # Comparision

In [103]:
'hi' == 'bye'

False

In [104]:
'hi' != 'bye' # Not equal to

True

## Logic Operators

**and**  = requires both the statements to be true

**or**   = requires any statement to be true

In [66]:
print((1 < 2) and (2 < 3),   
      (1 < 2) & (2 < 3))

True True

In [108]:
(1 > 2) and (2 < 3)

False

In [68]:
print((1 > 2) or (2 < 3),  (1 > 2) | (2 < 3))

True True

In [110]:
(1 == 2) or (2 == 3)

False

### Comments
They are used for giving a information about anything . They come in action when # i put before a line code

when the program runs seeing the # character the program skips that line.

In [ ]:
# hi i want to tell you something

In [117]:
'''
multi line comment also called doc string 52
2 %88       multi line comment also called doc string
used for multi line comment also called doc string
used for multi line comment also called doc stri
used for multi line comment also called doc string
used for multi line comment also called doc stringng
used for multi line comment also called doc string

crl / -- commenting/uncomment multiple lines

'''

'\nmulti line comment also called doc string 52\n2 %88       multi line comment also called doc string\nused for multi line comment also called doc string\nused for multi line comment also called doc stri\nused for multi line comment also called doc string\nused for multi line comment also called doc stringng\nused for multi line comment also called doc string\n'

## Python identity operators
They are used to compare objects , not if they are equal , but if they are actually the same object , eith same memory location.

* **is**  - returns true if both objects are same object.

* **is not**  - returns true if both objects are not he same

In [72]:
'q' is 'q' # 'a' == 'a'

In [124]:
'a'=='a'

True

In [ ]:
'a' is 'A'

In [75]:
'A' is not 'A' # 'a' != 'A'

## Python membership operators
They are used to test if the sequence is present in an obeject.

* **in**  - returns true if a sequence with specified value is present in the object.

* **not in**  - returns true if a sequence with specified value is not present in the object.

In [76]:
s = 'Hello World 2000'

In [162]:
'9' in s # allow you to search a value in existing variable

False

In [78]:
'He' in s

True

In [79]:
'5000' not in s

True